h1, div, h2, p, form, ul, li, a, input, button, span {
	box-sizing: border-box;
}

body {
	font-family: Ubuntu, 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 15px;
	width: 100%;
}
h1, h2, h3, h4 {
	margin: 0px;
	font-family: Ubuntu, 'Open Sans', sans-serif;

}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	
background: rgba(77,189,254,1);
background: -moz-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
background: -webkit-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -o-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: linear-gradient(135deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#3790d9', GradientType=1 );
padding-top: 100px;
padding-bottom: 144px;
color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offer {
	width: 550px;
}

.title {
	font-size: 37px;
}

.title span {
	font-size: 59px;
}

.intro {
	font-size: 16px;
	margin-bottom: 42px;
	width: 420px;
}

p {
	line-height: 1.6em;
}

.btn {
	font-family: 'Montserrat';
	font-weight: bold;
	color: black;
	background-color: #ffd429;
	display: block;
	width: 221px;
	padding: 20px 0px;
	text-align: center;
	text-decoration: none; 
	transition: all 0.5s ease;
}

.btn:hover {
	background: #ebbd05;
}

.start {
	margin-top: 37px;
}

.section-title {
	font-size: 30px;
	text-align: center;
}

.learn {
	padding-top: 110px;
	padding-bottom: 120px;
}

.forwards {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.forward {
	width: 289px;
	background: url('../img/icon1.png') no-repeat top center;
	padding-top: 85px;
}

.forward-two {
	background: url('../img/icon2.png') no-repeat top center;
}

.forward-tree {
	background: url('../img/icon3.png') no-repeat top center;
}

.forward-title {
	font-size: 19px;
	text-align: center;
}

.forward-text {
	font-size: 15px;
	text-align: center;
}

.mail {
	background: #ecf3f8;
	padding-top: 105px;
	padding-bottom: 100px;
}

.form {
	width: 342px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 56px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.input {
	width: 342px;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: ubuntu, sans-serif;
	border-radius: 2px;
	height: 48px;
	padding-left: 24px;
	margin-bottom: 16px;
}

.btn-form {
	border: 0;
	cursor: pointer;
	width: 342px;
}

.footer {
	padding-top: 62px;
	padding-bottom: 64px;
	background-color: #164d7a;
}

.credits {
	font-size: 14px;
	text-align: center;
	color: #fff;
}

	/* Responsive */

	/* 1200 - 1400 */
	@media screen and (max-width: 1400px) {
		.container {
			width: 1140px;
		}
		body {
			width: auto;
		}
	}

	/* 992 - 1200 */
	@media screen and (max-width: 1200px) {
		.container {
			width: 960px;
		}
		.wrapper	{
			flex-direction: column;
		}
		.offer {
			width: 100%;
		}
		.intro	{
			width: auto;
		}
		.start {
			display: block;
			width: 641px;	
		}
		.container {
			width: 720px;
			margin: 37px auto;
		}
		.forwards {
			flex-direction: column;
		}
		.forward {
			width: auto;
		}
		body {
			width: 100%;
		}
	}

	/* 768 - 992 */
	@media screen and (max-width: 992px) {
		.container {
			width: 720px;
			margin: 37px auto;
		}
		.footer {
			padding: 20px 0;
		}

	}

	/* 576 - 768 */
	@media screen and (max-width: 768px) {
		.header {
			padding-top: 30px;
			padding-bottom: 55px;	
		}
		.learn {
			padding: 10px 0;
		}
		.mail {
			padding: 10px 0;
		}
		.container {
			width: 540px;
		}
		.start {
			width: 100%;
		}
		.input {
			width: 100%;
		}	

	}

	/* 0 - 576 */
	@media screen and (max-width: 576px) {
		.container {
			width: 90%;
		}
		.form {
			width: auto;
		}
		.btn-form {
			width: auto;
		}
		.btn {
			width: auto;
		}

	}